name: Robot data

# Cron 
on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runnerzz

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11.0'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute eu script 
        env: 
          api_key: ${{ secrets.api_key }}
        run: python ENTSOE.py
        
      - name: lance calcul
        run: python BE_day.py
        
      - name: Commit files
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add --all
          git commit -am "add data"
          git push
